*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: aliceblue;
}
#main{
    height: 100%;
    width: 100%;
}
#col1{
    height: 80%;
    width: 85%;
    background-color:white;
    margin-top: 40px;
    margin-left: 100px;
    border: 1px solid rgb(230, 225, 225);
}
#col2{
    height: 10%;
    width: 40%;
    background-color:rgb(250, 247, 247);
    margin-top: 10px;
    margin-left: 300px;
    border: 1px solid rgb(230, 225, 225);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}
#col1 img{
    height: 20%;
    margin-left: 450px;
}
#col3{
    margin-left: 350px;
    margin-top: 5px;
}
#RollNo{
        padding: 10px;
        font-size: 14px !important;
        border-radius: 3px;
        border: 1px solid #777;
        width: 45%;
}
#col4{
    height: 10%;
    width: 30%;
    margin-top: 10px;
    margin-left: 350px;
    border: 1px solid rgb(230, 225, 225);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    color: white;
    border: 1px solid #777;
}
#col4:hover{
    background-color: rgb(11, 11, 220);
    color: black;
}
table{
    width:1000px ;
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
}
table,th,tr,td{
    border: 1px black solid;
    border-collapse:collapse ;
    padding: 5px;

}

td{
    cursor: pointer;
}
button{
    background-color: green;
    color: white;
    padding: 2px;
    border-radius: 5px;
}
table tr:hover{
    background-color: #8c898954;
}
table td a{
    display: flex;
    align-items: center;
    text-decoration: none;
}
table td a i{
    color: rgb(17, 17, 18);
    margin-left: 35px;
}
table td i{
     margin-left: 35px;
    text-decoration: none;
}