*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,body{
    height: 1200px;
    width: 100%;
}
#col1{
    height: 150px;
    display: flex;
    text-align: center;
    align-items: center;
   
}
#card{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 1000px;
    width: 900px;
    border: solid 1px black;
    overflow: hidden;
}
#row1 img{
    width: 60px;
}
#row1{
    width: 200px;
    height: 150px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#row2{
    height: 150px;
    width: 500px;
}
#row3 img{
     width: 150px;
    height: 100px;
    margin-top: 10px;
}
#row2 h1{
    margin-top: 30px;
    
   
}
#col2{
    height: 100px;
    width: 700px;
    display: block;
    text-align: center;
    align-items: center;
  
    /* background-color: aquamarine; */
    margin-left: 100px;
    margin-top: 40px;
    /* justify-content: center; */
}
#col3{
    height: 100px;
    width: 750px;
    display: flex;
    text-align: center;
    align-items: center;
  justify-content: space-between;
    /* background-color: brown; */
    margin-left: 40px;
    margin-top: 40px;
    font-size: small;
    /* justify-content: center; */
    
}
table{
    width:800px ;
    text-align: left;
    margin-left: 40px;
    margin-top: 20px;
    height: 350px;
   
}
table,tr,th,td{
    border: 1px rgb(183, 178, 178) solid;
    border: 1px rgb(183, 178, 178) solid;
    /* border-collapse:collapse ; */
    padding: 5px;
    font: 0.94em sans-serif;
}
.tableh1{
    height: 3px;
    width: 30px;
}
.text-align{
    font-size: small;
    font: weight 1px;
    text-align: left;
    margin-right:10px ;
}
table tr:hover{
    background-color: #8c89892f;
}
table td a{
    display: flex;
    align-items: center;
    text-decoration: none;
}
table td a i{
    color: rgb(17, 17, 18);
    margin-left: 35px;
}
table td i{
     margin-left: 35px;
    text-decoration: none;
}
body{
    background: #f1f2f7;
}
#card{
    background-color: white;
}
#last{
    margin: 10px;
    display: flex;
    justify-content: space-around;
}
#last h4{
    font: 0.92em sans-serif;
}
#l2{
    font: 0.91em sans-serif;
    margin-left: 700px;
    margin-top: 70px;
}
#row2 h5{
    font: 0.95em sans-serif;
    margin-top: 20px;
}
#col2 h3{
    font: 1.1em sans-serif;
    font-weight: 700;
    padding: 3px;
}
#col3  h4{
    padding: 3px;
    font: 1em sans-serif;
    font-weight: 700;
}
#col3 h5{
    font: 1em sans-serif;
    padding: 3px;
}
#bindi{
    margin-left: 50px;
}